extends layout

block content
    table
        each val in values
            tr
                each v in val
                    th=v
            tr
    a(href='admin/downlod') niður halla
    a(href='/') til baka
