extends layout

block content
  form(method='POST' action='/')
    label(for='name') Nafn:
    input(type='text', placeholder='first and last' name='name')
    label(for='email') Netfang:
    input(type='email', placeholder='lalli@email.com' name='email')
    label(for='ssn') Kennitala:
    input(type='text', placeholder='kenitala' name='ssn')
    label(for='fjoldi') Fjöldi:
    input(type='number' name='fjoldi')
    button.btn.btn-primary(type='submit') Skrá
