extends layout

block content
  form(method='post' action='/register')
    label(for='Nafn') Nafn:
    input#name.form-control(type='text', placeholder='first and last' name='name')
    label(for='Netfang') Netfang:
    input#email.form-control(type='email', placeholder='lalli@email.com' name='email')
    label(for='Kennitala') Kennitala:
    input#kennitala.form-control(type='text', placeholder='kenitala' name='ssn')
    label(for='fjoldi') Fjöldi:
    input#fjoldi.form-control(type='number' name='fjoldi')
    button.btn.btn-primary(type='submit') Skrá
