extends layout

block content
    form(method='POST' action='/login')
        label(for='name') User name:
        input(type='text', name='username')
        label(for='password') Pasword:
        input(type='password', name='password')
        button(type='submit') Skrá inn:
    a(href='/') til baka
