* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}
